<p-table
  [rows]="10"
  dataKey="id"
  [paginator]="true"
  [globalFilterFields]="['username']"
  class="table"
  [value]="users"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Image</th>
      <th>Device</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>
        <img width="40px" [src]="user.profileImage" alt="" />
      </td>
      <td>{{ user.device }}</td>
    </tr>
  </ng-template>
</p-table>
